$color1: #071e22;
$color2: #1d7874;
$color3: #679289;
$color4: #f4c095;
$color5: #ee2e31;
$white: #fff;
$black: #030303;

@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display|Montserrat');
$header-font: 'Major Mono Display';
$font-family: 'Montserrat';
